/*
    basiskleur: '#331804',
    liturgischekleur: '#CB904D',
    derdekleur: '#DFCC74',
    vierdekleur: '#51A3A3',
    vijfdekleur: '#E2E0CB',
*/
:root {
    --body-background-color: #331804;
    --body-text-color: #CB904D;
    --card-background-color: #331804;
    --nav-background-color: #DFCC74;
    --nav-border-bottom-color: #51A3A3;
    --nav-current-border-bottom-color: #51A3A3;
    --card-border-color: #DFCC74;
    --down-border-left-color: #eb3b5a;
    --down-background-color: #DFCC74;
    --degraded-border-left-color: #f7b731;
    --degraded-background-color: #DFCC74;
    --up-border-left-color: #20bf6b;
    --up-background-color: #DFCC74;
    --tag-color: #331804;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #51A3A3;
    --error-button-background-color: #331804;
    --error-button-color: #51A3A3;
    --submit-button-border-color: #CB904D;
    --submit-button-background-color: #331804;
    --submit-button-color: #CB904D;
    --graph-opacity: 1;
    --graph-filter: none;
  }